# Adapter configration (CMSIS-DAP)
source [find interface/cmsis-dap.cfg]

#Target configration (STM32F1)
source [find target/stm32f1x.cfg]

#Reset configration 
reset_config srst_only srst_nogate

cmsis_dap_vid_pid 0x0483 0x572a 